.header {
  height: 60px;
  background-color: darkslategrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
 
}

.header a{
    color: yellow;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}

.header a:hover{
    color: aqua;
}

